<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="gradledemo.Gradledemoclass"/>
      <class name="gradledemo.DropdownSortdown"/>
      <class name="gradledemo.Practicetest01"/>
      <class name="robotclassdemo.DragandDrop"/>
       <class name="robotclassdemo.MovetoElement"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
